body {
    background-color: white;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
    font-family: Arial Black, sans-serif;
    border-bottom: 1px solid purple;
}

p {
    font-size: 11pt;
    text-align: justify;
}

a {
    font-size: 11pt;
    text-align: justify;
    //font-weight: bold;
    color: orangered;
}